body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.furniture-panel {
    width: 200px;
    padding: 10px;
    border: 2px solid #e094f0;
    border-radius: 8px;
    background-color: gold;
    margin-right: 15px;
}

    .furniture-item{
        padding:10px;
        cursor:grab;
    }
     
    .room{
        width:500px;
        height: 400px;
        border:2px solid #efbff8;
        border-radius: 8px;
        background-color: rgb(213, 233, 250);
        position:relative; 
    }
    .furniture-placed {
        position:absolute;
        user-select: none;
    }